<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookshelf</title>

    <!-- Fonts -->
    <%- include('./includes/fonts.ejs') %>

    <link rel="stylesheet" href="./styles/index.scss" />
  </head>

  <body>
    <!-- HEADER -->
    <%- include('./includes/header/header.ejs') %>
    <!-- MAIN -->
    <div class="container main-block">
      <div class="asides">
        <div>
          <%- include('./includes/asides/genres.ejs') %> <%-
          include('./includes/asides/support.ejs') %>
        </div>
      </div>
      <main>
        <section class="books-section">
          <h2>No title</h2>
          <div class="books"></div>
        </section>
      </main>
    </div>
    <!-- /MAIN -->
    <!-- MODALS -->
    <%- include('./includes/modals/registration-modal.ejs') %>
    <%- include('./includes/modals/book-info.modal.ejs') %>
    <!-- /MODALS -->
    <%- include('./includes/anchor.ejs') %>

    <!-- Load and render books-->
    <script src="./scripts/render-books.script.js" type="module"></script>
  </body>
</html>
